In [11]:
import pyspark

In [12]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [13]:
 spark = (
    SparkSession.builder.master("local[1]")
    .appName("data preparation")
    .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.3.1")
    .getOrCreate()
)

In [14]:
spark

In [15]:
df = spark \
  .read \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "localhost:9092") \
  .option("subscribe", "topic_nested") \
  .load()
# df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)").select("value").toPandas()
df.printSchema()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

In [16]:
df.show()
# spark.stop()

+----+--------------------+------------+---------+------+--------------------+-------------+
| key|               value|       topic|partition|offset|           timestamp|timestampType|
+----+--------------------+------------+---------+------+--------------------+-------------+
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     0|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     1|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     2|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     3|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     4|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     5|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     6|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     7|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     8|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|     9|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    10|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    11|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    12|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    13|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    14|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    15|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    16|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    17|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    18|2023-02-23 13:20:...|            0|
|null|[7B 22 54 69 6D 6...|topic_nested|        0|    19|2023-02-23 13:20:...|            0|
+----+--------------------+------------+---------+------+--------------------+-------------+
only showing top 20 rows

In [17]:
df.count()

5346

In [43]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType, FloatType


schema=(StructType([
  StructField("Timestamp", StringType(), True),
  StructField("string_columns", StructType([
    StructField("Name", StringType(), True),
    StructField("Sex", StringType(), True),
    StructField("Age", StringType(), True),
    StructField("Ticket", StringType(), True),
    StructField("Fare", StringType(), True),
    StructField("Cabin", StringType(), True),
    StructField("Embarked", StringType(), True)
  ]), True),
  StructField("numeric_columns", StructType([
    StructField("PassengerId", IntegerType(), True),
    StructField("Survived", IntegerType(), True),
    StructField("Pclass", IntegerType(), True),
    StructField("SibSp", IntegerType(), True),
    StructField("Parch", IntegerType(), True)
  ]), True)
])
       )

In [19]:
df2 = df.withColumn("message_content", F.from_json(F.col("value").cast("string"), schema))
# df.printSchema()
# df_minimal = df.select("message_content.*") 
# df_minimal.printSchema()

In [20]:
df_minimal = df2.select("message_content.*")

In [21]:
df_minimal.show()

+--------------------+--------------------+----------------+
|           Timestamp|      string_columns| numeric_columns|
+--------------------+--------------------+----------------+
|2020-01-01T13:45:...|{Braund, Mr. Owen...| {1, 0, 3, 1, 0}|
|2020-01-01T13:44:...|{Cumings, Mrs. Jo...| {2, 1, 1, 1, 0}|
|2020-01-01T13:38:...|{Heikkinen, Miss....| {3, 1, 3, 0, 0}|
|2020-01-01T13:32:...|{Futrelle, Mrs. J...| {4, 1, 1, 1, 0}|
|2020-01-01T13:36:...|{Allen, Mr. Willi...| {5, 0, 3, 0, 0}|
|2020-01-01T13:31:...|{Moran, Mr. James...| {6, 0, 3, 0, 0}|
|2020-01-01T13:37:...|{McCarthy, Mr. Ti...| {7, 0, 1, 0, 0}|
|2020-01-01T13:49:...|{Palsson, Master....| {8, 0, 3, 3, 1}|
|2020-01-01T13:33:...|{Johnson, Mrs. Os...| {9, 1, 3, 0, 2}|
|2020-01-01T13:32:...|{Nasser, Mrs. Nic...|{10, 1, 2, 1, 0}|
|2020-01-01T13:32:...|{Sandstrom, Miss....|{11, 1, 3, 1, 1}|
|2020-01-01T13:30:...|{Bonnell, Miss. E...|{12, 1, 1, 0, 0}|
|2020-01-01T13:33:...|{Saundercock, Mr....|{13, 0, 3, 0, 0}|
|2020-01-01T13:30:...|{Andersson, Mr. A...|{14, 0, 3, 1, 5}|
|2020-01-01T13:41:...|{Vestrom, Miss. H...|{15, 0, 3, 0, 0}|
|2020-01-01T13:34:...|{Hewlett, Mrs. (M...|{16, 1, 2, 0, 0}|
|2020-01-01T13:41:...|{Rice, Master. Eu...|{17, 0, 3, 4, 1}|
|2020-01-01T13:39:...|{Williams, Mr. Ch...|{18, 1, 2, 0, 0}|
|2020-01-01T13:39:...|{Vander Planke, M...|{19, 0, 3, 1, 0}|
|2020-01-01T13:36:...|{Masselmani, Mrs....|{20, 1, 3, 0, 0}|
+--------------------+--------------------+----------------+
only showing top 20 rows

In [31]:
df2=df_minimal.select("Timestamp","string_columns.*","numeric_columns.*")
df2.printSchema()

root
 |-- Timestamp: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)

In [32]:
df2.show()

+--------------------+--------------------+------+----+----------------+-------+-----+--------+-----------+--------+------+-----+-----+
|           Timestamp|                Name|   Sex| Age|          Ticket|   Fare|Cabin|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+--------------------+--------------------+------+----+----------------+-------+-----+--------+-----------+--------+------+-----+-----+
|2020-01-01T13:45:...|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25| null|       S|          1|       0|     3|    1|    0|
|2020-01-01T13:44:...|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|  C85|       C|          2|       1|     1|    1|    0|
|2020-01-01T13:38:...|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925| null|       S|          3|       1|     3|    0|    0|
|2020-01-01T13:32:...|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1| C123|       S|          4|       1|     1|    1|    0|
|2020-01-01T13:36:...|Allen, Mr. Willia...|  male|  35|          373450|   8.05| null|       S|          5|       0|     3|    0|    0|
|2020-01-01T13:31:...|    Moran, Mr. James|  male|null|          330877| 8.4583| null|       Q|          6|       0|     3|    0|    0|
|2020-01-01T13:37:...|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|  E46|       S|          7|       0|     1|    0|    0|
|2020-01-01T13:49:...|Palsson, Master. ...|  male|   2|          349909| 21.075| null|       S|          8|       0|     3|    3|    1|
|2020-01-01T13:33:...|Johnson, Mrs. Osc...|female|  27|          347742|11.1333| null|       S|          9|       1|     3|    0|    2|
|2020-01-01T13:32:...|Nasser, Mrs. Nich...|female|  14|          237736|30.0708| null|       C|         10|       1|     2|    1|    0|
|2020-01-01T13:32:...|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|   G6|       S|         11|       1|     3|    1|    1|
|2020-01-01T13:30:...|Bonnell, Miss. El...|female|  58|          113783|  26.55| C103|       S|         12|       1|     1|    0|    0|
|2020-01-01T13:33:...|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05| null|       S|         13|       0|     3|    0|    0|
|2020-01-01T13:30:...|Andersson, Mr. An...|  male|  39|          347082| 31.275| null|       S|         14|       0|     3|    1|    5|
|2020-01-01T13:41:...|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542| null|       S|         15|       0|     3|    0|    0|
|2020-01-01T13:34:...|Hewlett, Mrs. (Ma...|female|  55|          248706|   16.0| null|       S|         16|       1|     2|    0|    0|
|2020-01-01T13:41:...|Rice, Master. Eugene|  male|   2|          382652| 29.125| null|       Q|         17|       0|     3|    4|    1|
|2020-01-01T13:39:...|Williams, Mr. Cha...|  male|null|          244373|   13.0| null|       S|         18|       1|     2|    0|    0|
|2020-01-01T13:39:...|Vander Planke, Mr...|female|  31|          345763|   18.0| null|       S|         19|       0|     3|    1|    0|
|2020-01-01T13:36:...|Masselmani, Mrs. ...|female|null|            2649|  7.225| null|       C|         20|       1|     3|    0|    0|
+--------------------+--------------------+------+----+----------------+-------+-----+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [33]:
df2.count()

5346

In [34]:
df2 = df2.na.drop(subset=["Cabin", "Embarked","Age"])

In [35]:
df2.count()

1098

In [38]:
df2 = df2.drop("Pclass","SibSp","Parch")

In [42]:
df2.printSchema()

root
 |-- Timestamp: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)

In [39]:
df2.count()

1098

In [41]:
df2 = df2.withColumn("Fare", F.col("Fare").cast(FloatType()))
df2 = df2.withColumn("Age", F.col("Age").cast(IntegerType()))

In [16]:
df_minimal.selectExpr(
    "Timestamp",
    "string_columns.Name as Name",
    "string_columns.Sex as Sex",
    "string_columns.Age as Age",
    "string_columns.Ticket as Ticket",
    "string_columns.Fare as Fare",
    "string_columns.Cabin as Cabin",
    "string_columns.Embarked as Embarked",
    "numeric_columns.PassengerId as PassengerId",
    "numeric_columns.Survived as Survived",
    "numeric_columns.Pclass as Pclass",
    "numeric_columns.SibSp as SibSp",
    "numeric_columns.Parch as Parch"
)

DataFrame[Timestamp: timestamp, Name: string, Sex: string, Age: string, Ticket: string, Fare: double, Cabin: string, Embarked: string, PassengerId: int, Survived: int, Pclass: int, SibSp: int, Parch: int]

In [70]:
df_minimal.show()

+-------------------+--------------+---------------+
|          Timestamp|string_columns|numeric_columns|
+-------------------+--------------+---------------+
|2020-01-01 13:45:25|          null|           null|
|2020-01-01 13:44:48|          null|           null|
|2020-01-01 13:38:11|          null|           null|
|2020-01-01 13:32:00|          null|           null|
|2020-01-01 13:36:30|          null|           null|
|2020-01-01 13:31:39|          null|           null|
|2020-01-01 13:37:31|          null|           null|
|2020-01-01 13:49:08|          null|           null|
|2020-01-01 13:33:42|          null|           null|
|2020-01-01 13:32:53|          null|           null|
|2020-01-01 13:32:23|          null|           null|
|2020-01-01 13:30:12|          null|           null|
|2020-01-01 13:33:34|          null|           null|
|2020-01-01 13:30:20|          null|           null|
|2020-01-01 13:41:17|          null|           null|
|2020-01-01 13:34:22|          null|           null|
|2020-01-01 13:41:55|          null|           null|
|2020-01-01 13:39:35|          null|           null|
|2020-01-01 13:39:38|          null|           null|
|2020-01-01 13:36:56|          null|           null|
+-------------------+--------------+---------------+
only showing top 20 rows

In [64]:
df_minimal = df.select("message_content.*")

In [65]:
df_minimal.show()

+-------------------+--------------+---------------+
|          Timestamp|string_columns|numeric_columns|
+-------------------+--------------+---------------+
|2020-01-01 13:45:25|          null|           null|
|2020-01-01 13:44:48|          null|           null|
|2020-01-01 13:38:11|          null|           null|
|2020-01-01 13:32:00|          null|           null|
|2020-01-01 13:36:30|          null|           null|
|2020-01-01 13:31:39|          null|           null|
|2020-01-01 13:37:31|          null|           null|
|2020-01-01 13:49:08|          null|           null|
|2020-01-01 13:33:42|          null|           null|
|2020-01-01 13:32:53|          null|           null|
|2020-01-01 13:32:23|          null|           null|
|2020-01-01 13:30:12|          null|           null|
|2020-01-01 13:33:34|          null|           null|
|2020-01-01 13:30:20|          null|           null|
|2020-01-01 13:41:17|          null|           null|
|2020-01-01 13:34:22|          null|           null|
|2020-01-01 13:41:55|          null|           null|
|2020-01-01 13:39:35|          null|           null|
|2020-01-01 13:39:38|          null|           null|
|2020-01-01 13:36:56|          null|           null|
+-------------------+--------------+---------------+
only showing top 20 rows

In [43]:
# carbon_df = spark.createDataFrame(df_nested, schema)

TypeError: data is already a DataFrame

In [33]:
# from pyspark.sql import SparkSession
# from pyspark.sql.types import StructType, StructField, StringType, DoubleType
# import json

# spark = SparkSession.builder.appName("data_to_dataframe").getOrCreate()

# # Define the schema for the data frame
# schema = StructType([
#     StructField("timestamp", StringType(), True),
#     StructField("room_id", StringType(), True),
#     StructField("co2", DoubleType(), True),
#     ])

# # Convert the data into a list of dictionaries
# dict_data = [json.loads(row.value.decode('utf-8')) for row in value_list ]

# # Create the data frame from the list of dictionaries
# carbon_df = spark.createDataFrame(dict_data, schema)

# # Show the data frame
# carbon_df.show()

SyntaxError: invalid syntax (3221678910.py, line 5)

In [ ]:
# denested_df = stream_df.selectExpr(
#     "Timestamp",
#     "string_columns.Name as Name",
#     "string_columns.Sex as Sex",
#     "string_columns.Age as Age",
#     "string_columns.Ticket as Ticket",
#     "string_columns.Fare as Fare",
#     "string_columns.Cabin as Cabin",
#     "string_columns.Embarked as Embarked",
#     "numeric_columns.PassengerId as PassengerId",
#     "numeric_columns.Survived as Survived",
#     "numeric_columns.Pclass as Pclass",
#     "numeric_columns.SibSp as SibSp",
#     "numeric_columns.Parch as Parch"
# )