In [38]:
import pyspark

In [39]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType, FloatType, TimestampType, MapType

In [40]:
 spark = (
    SparkSession.builder.master("local[1]")
    .appName("pyspark solution")
    .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.3.1")
    .getOrCreate()
)

In [41]:
spark

In [42]:
df = spark.read.format("kafka") \
    .option("kafka.bootstrap.servers", "localhost:9092") \
    .option("subscribe", "topic_nested") \
    .load() \
    .selectExpr("CAST(value AS STRING)") \
    .select(F.from_json("value", schema).alias("data")) \
    .select("data.*")

df = df.select("Timestamp", "string_columns.*", "numeric_columns.*")

In [43]:
schema = StructType([
    StructField("Timestamp", TimestampType(), True),
    StructField("string_columns", StructType([
        StructField("Name", StringType(), True),
        StructField("Sex", StringType(), True),
        StructField("Age", StringType(), True),
        StructField("Ticket", StringType(), True),
        StructField("Fare", StringType(), True),
        StructField("Cabin", StringType(), True),
        StructField("Embarked", StringType(), True)
    ]), True),
    StructField("numeric_columns", StructType([
        StructField("PassengerId", IntegerType(), True),
        StructField("Survived", IntegerType(), True),
        StructField("Pclass", IntegerType(), True),
        StructField("SibSp", IntegerType(), True),
        StructField("Parch", IntegerType(), True)
    ]), True)
])

In [44]:
df.printSchema()

root
 |-- Timestamp: timestamp (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)

In [45]:
df = df.dropDuplicates()

In [46]:
df.count()

891

In [47]:
df.show()

+-------------------+--------------------+------+----+-----------------+-------+-----+--------+-----------+--------+------+-----+-----+
|          Timestamp|                Name|   Sex| Age|           Ticket|   Fare|Cabin|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+-------------------+--------------------+------+----+-----------------+-------+-----+--------+-----------+--------+------+-----+-----+
|2020-01-01 13:46:21|"Lovell, Mr. John...|  male|  20|        A/5 21173|   7.25| null|       S|        228|       0|     3|    0|    0|
|2020-01-01 13:39:12|Kimball, Mr. Edwi...|  male|  42|            11753|52.5542|  D19|       S|        622|       1|     1|    1|    0|
|2020-01-01 13:36:29|Alexander, Mr. Wi...|  male|  26|             3474| 7.8875| null|       S|        811|       0|     3|    0|    0|
|2020-01-01 13:44:34|Marechal, Mr. Pierre|  male|null|            11774|   29.7|  C47|       C|        840|       1|     1|    0|    0|
|2020-01-01 13:43:40|Stead, Mr. Willia...|  male|  62|           113514|  26.55|  C87|       S|        253|       0|     1|    0|    0|
|2020-01-01 13:39:42|    Calic, Mr. Petar|  male|  17|           315086| 8.6625| null|       S|        501|       0|     3|    0|    0|
|2020-01-01 13:33:14|Soholt, Mr. Peter...|  male|  19|           348124|   7.65|F G73|       S|        716|       0|     3|    0|    0|
|2020-01-01 13:40:15|"Parkes, Mr. Fran...|  male|null|           239853|    0.0| null|       S|        278|       0|     2|    0|    0|
|2020-01-01 13:34:35|Jansson, Mr. Carl...|  male|  21|           350034| 7.7958| null|       S|        392|       1|     3|    0|    0|
|2020-01-01 13:41:31|    Flynn, Mr. James|  male|null|           364851|   7.75| null|       Q|        429|       0|     3|    0|    0|
|2020-01-01 13:33:36|Beesley, Mr. Lawr...|  male|  34|           248698|   13.0|  D56|       S|         22|       1|     2|    0|    0|
|2020-01-01 13:30:12|  Richard, Mr. Emile|  male|  23|    SC/PARIS 2133|15.0458| null|       C|        136|       0|     2|    0|    0|
|2020-01-01 13:32:38|Goodwin, Master. ...|  male|   1|          CA 2144|   46.9| null|       S|        387|       0|     3|    5|    2|
|2020-01-01 13:46:16|  Gale, Mr. Shadrach|  male|  34|            28664|   21.0| null|       S|        406|       0|     2|    1|    0|
|2020-01-01 13:36:12|Kallio, Mr. Nikol...|  male|  17|STON/O 2. 3101274|  7.125| null|       S|        434|       0|     3|    0|    0|
|2020-01-01 13:32:29|Daly, Mr. Eugene ...|  male|  29|           382651|   7.75| null|       Q|        511|       1|     3|    0|    0|
|2020-01-01 13:40:34|Carter, Rev. Erne...|  male|  54|           244252|   26.0| null|       S|        250|       0|     2|    1|    0|
|2020-01-01 13:42:07|        Lam, Mr. Ali|  male|null|             1601|56.4958| null|       S|        693|       1|     3|    0|    0|
|2020-01-01 13:39:32|Barbara, Miss. Sa...|female|  18|             2691|14.4542| null|       C|        703|       0|     3|    0|    1|
|2020-01-01 13:41:46|   Wells, Miss. Joan|female|   4|            29103|   23.0| null|       S|        751|       1|     2|    1|    1|
+-------------------+--------------------+------+----+-----------------+-------+-----+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [48]:
df_na = df.dropna(subset=["Age","Cabin", "Embarked"])

In [49]:
df_na.show()

+-------------------+--------------------+------+---+----------+-------+-----------+--------+-----------+--------+------+-----+-----+
|          Timestamp|                Name|   Sex|Age|    Ticket|   Fare|      Cabin|Embarked|PassengerId|Survived|Pclass|SibSp|Parch|
+-------------------+--------------------+------+---+----------+-------+-----------+--------+-----------+--------+------+-----+-----+
|2020-01-01 13:39:12|Kimball, Mr. Edwi...|  male| 42|     11753|52.5542|        D19|       S|        622|       1|     1|    1|    0|
|2020-01-01 13:43:40|Stead, Mr. Willia...|  male| 62|    113514|  26.55|        C87|       S|        253|       0|     1|    0|    0|
|2020-01-01 13:33:14|Soholt, Mr. Peter...|  male| 19|    348124|   7.65|      F G73|       S|        716|       0|     3|    0|    0|
|2020-01-01 13:33:36|Beesley, Mr. Lawr...|  male| 34|    248698|   13.0|        D56|       S|         22|       1|     2|    0|    0|
|2020-01-01 13:40:51|Carlsson, Mr. Fra...|  male| 33|       695|    5.0|B51 B53 B55|       S|        873|       0|     1|    0|    0|
|2020-01-01 13:33:15|Harrison, Mr. Wil...|  male| 40|    112059|    0.0|        B94|       S|        264|       0|     1|    0|    0|
|2020-01-01 13:46:38|Navratil, Master....|  male|  3|    230080|   26.0|         F2|       S|        194|       1|     2|    1|    1|
|2020-01-01 13:45:55|Francatelli, Miss...|female| 30|  PC 17485|56.9292|        E36|       C|        310|       1|     1|    0|    0|
|2020-01-01 13:32:39|Davidson, Mr. Tho...|  male| 31|F.C. 12750|   52.0|        B71|       S|        672|       0|     1|    1|    0|
|2020-01-01 13:49:29|Allison, Miss. He...|female|  2|    113781| 151.55|    C22 C26|       S|        298|       0|     1|    1|    2|
|2020-01-01 13:44:46|Stephenson, Mrs. ...|female| 52|     36947|78.2667|        D20|       C|        592|       1|     1|    1|    0|
|2020-01-01 13:38:28|Ball, Mrs. (Ada E...|female| 36|     28551|   13.0|          D|       S|        328|       1|     2|    0|    0|
|2020-01-01 13:45:25|Sandstrom, Mrs. H...|female| 24|   PP 9549|   16.7|         G6|       S|        395|       1|     3|    0|    2|
|2020-01-01 13:43:58| Ross, Mr. John Hugo|  male| 36|     13049| 40.125|        A10|       C|        584|       0|     1|    0|    0|
|2020-01-01 13:39:59|Goldenberg, Mr. S...|  male| 49|     17453|89.1042|        C92|       C|        454|       1|     1|    1|    0|
|2020-01-01 13:32:55|  Giglio, Mr. Victor|  male| 24|  PC 17593|   79.2|        B86|       C|        140|       0|     1|    0|    0|
|2020-01-01 13:46:33|Brown, Mrs. James...|female| 44|  PC 17610|27.7208|         B4|       C|        195|       1|     1|    0|    0|
|2020-01-01 13:43:45|Harper, Mr. Henry...|  male| 48|  PC 17572|76.7292|        D33|       C|        646|       1|     1|    1|    0|
|2020-01-01 13:36:18|Andrews, Mr. Thom...|  male| 39|    112050|    0.0|        A36|       S|        807|       0|     1|    0|    0|
|2020-01-01 13:40:25|Potter, Mrs. Thom...|female| 56|     11767|83.1583|        C50|       C|        880|       1|     1|    0|    1|
+-------------------+--------------------+------+---+----------+-------+-----------+--------+-----------+--------+------+-----+-----+
only showing top 20 rows

In [50]:
df_na.count()

183

In [51]:
df_columns = df_na.drop("Pclass","SibSp","Parch")

In [52]:
df_columns.show(5)

+-------------------+--------------------+----+---+------+-------+-----------+--------+-----------+--------+
|          Timestamp|                Name| Sex|Age|Ticket|   Fare|      Cabin|Embarked|PassengerId|Survived|
+-------------------+--------------------+----+---+------+-------+-----------+--------+-----------+--------+
|2020-01-01 13:39:12|Kimball, Mr. Edwi...|male| 42| 11753|52.5542|        D19|       S|        622|       1|
|2020-01-01 13:43:40|Stead, Mr. Willia...|male| 62|113514|  26.55|        C87|       S|        253|       0|
|2020-01-01 13:33:14|Soholt, Mr. Peter...|male| 19|348124|   7.65|      F G73|       S|        716|       0|
|2020-01-01 13:33:36|Beesley, Mr. Lawr...|male| 34|248698|   13.0|        D56|       S|         22|       1|
|2020-01-01 13:40:51|Carlsson, Mr. Fra...|male| 33|   695|    5.0|B51 B53 B55|       S|        873|       0|
+-------------------+--------------------+----+---+------+-------+-----------+--------+-----------+--------+
only showing top 5 rows

In [53]:
df_final = df_columns.withColumn("Age",F.col("Age").cast(IntegerType())) \
    .withColumn("Fare",F.col("Fare").cast(FloatType()))

In [54]:
df_final.dtypes

[('Timestamp', 'timestamp'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'float'),
 ('Cabin', 'string'),
 ('Embarked', 'string'),
 ('PassengerId', 'int'),
 ('Survived', 'int')]

In [ ]:
df_final.write.json('json_data')